{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="my-4">
        <div class="row mx-0">
            <div class="col-lg-9 {% if room_id %}col-11{% else %}col-10{% endif %} mx-auto" style="min-height: 600px; max-height: 600px">
                <div class="row bg-light rounded box-shadow h-100">
                    <div class="col-md-4 {% if room_id %}d-md-block d-none{% endif %} p-0 border-end custom-scrollbar" id="chat-room-container" style="overflow-y: auto; height: 100%">

                        <div id="observe-container" class="d-block py-3"></div>
                    </div>

                    <div class="col-md-8 col-12 {% if not room_id %}d-md-flex d-none justify-content-center{% endif %} flex-column p-0 h-100">
                        {% if room_id %}
                            <div class="d-flex p-3 border-bottom align-items-center">
                                <div class="d-flex align-items-center">
                                    <a href="{% url 'account:account' username=other_user.username %}" target="blank" class="me-2" style="width: 6%">
                                        <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" alt="" id="other_user_profile_image">
                                    </a>
                                    <a href="{% url 'account:account' username=other_user.username %}" target="blank" class="fw-bold link text-dark">{{ other_user.username }}</a>
                                </div>

                                <div class="{% if room_id %}d-md-none d-block{% endif %}">
                                    <a href="{% url 'chat:chat-general-page' %}" class="link me-1">Back</a>
                                </div>
                            </div>

                            <div class="d-flex flex-column-reverse flex-grow-1 p-3 custom-scrollbar fs-14px" id="chat-messages-container" style="overflow-y: auto; height: 100%">
                                <div id="message-observe-container" class="d-block py-3"></div>
                            </div>

                        {% else %}
                            <div class="text-center">
                                <div class="display-6 fst-italic">Argon Messaging</div>
                                <div class="fs-14px mt-2 text-muted">Select a chat to start messaging.</div>
                            </div>
                        {% endif %}
{#                        <div class="d-flex flex-column-reverse flex-grow-1 p-3 custom-scrollbar fs-14px" id="chat-messages-container" style="overflow-y: auto; height: 100%">#}
{#                            <div id="message-observe-container" class="d-block py-3"></div>#}
{#                        </div>#}
                        {% if room_id %}
                            <div class="input-group p-3">
                                <textarea class="form-control custom-scroll disable-focus m-0 p-2 bg-light text-muted fs-14px rounded-start" id="message-textarea" maxlength="800" rows="1" placeholder="Message..." style="overflow-y:scroll; overflow-x: hidden; border-radius: 0;"></textarea>
                                <button type="button" class="input-group-text bg-light fs-14px text-primary post-comment-button rounded-end" id="message-button" style="border-radius: 0">Send</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script>

        {% if room_id %}
            preLoadImage("{{ other_user.image.url }}", "other_user_profile_image")
            const messageButton = document.getElementById("message-button")
            const messageField = document.getElementById("message-textarea")
            const chatMessagesContainer = document.getElementById('chat-messages-container')

            messageButton.addEventListener('click', function(e) {
                if (messageField.value.trim()) {
                  sendChatMessage(messageField.value)
                  messageField.value = ""
                }
            })

            setupMessageField(messageField)

            function setupMessageField(field) {
                field.addEventListener('keypress', function(e) {
                    if (e.key === 'Enter' && !e.shiftKey) { e.preventDefault()}
                })
                field.addEventListener('keyup', function(e) {
                    if (e.key === 'Enter' && !e.shiftKey && !e.ctrlKey && field.value.trim() !== "") { messageButton.click() }
                })
            }
        {% endif %}

        const limit = 10
        const chatRoomsContainer = document.getElementById("chat-room-container")
        let url = "{% url 'api:api-chat-rooms-list' %}" + `?limit=${limit}&offset=0`
        const roomsObserveContainer = document.getElementById("observe-container")


        function createIntersectionObserver(callback) {
          return new IntersectionObserver(callback, {
              root: null,        // intersect with viewport
              rootMargin: '0px', // no margin when computing intersections
              threshold:  0,   // execute callback when every pixel is visible
            })
        }

        let roomsObserver = createIntersectionObserver(roomsCallback)

        function roomsCallback(entries) {
            for (const entry of entries) {
                if (entry.isIntersecting) { getNextRoomsPage() }
            }
        }

        roomsObserver.observe(roomsObserveContainer)

        function getNextRoomsPage() {
          fetch(url)
            .then(response => response.json())
            .then(data => {
              url = data.next
              appendChatRoom(data.results)
              if (!url) {
                roomsObserver.unobserve(roomsObserveContainer)
                roomsObserveContainer.remove()
              }
            })
        }

        function appendChatRoom(data) {
              data.forEach(function(room, i) {
                let element = document.createElement('a')
                element.classList.add('d-flex', 'align-items-center', 'p-3', 'hover-block', 'text-decoration-none', 'text-dark')
                element.href = "{% url 'chat:chat-page' username=123456789 %}".replace(123456789, room.other_user.username)
                element.innerHTML = `
                    <div class="col-2 me-2">
                        <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" alt="" id="${room.other_user.username}_profile_image">
                    </div>
                    <div class="col-10 d-flex flex-column">
                        <div class="fw-bold">
                            ${room.other_user.username}
                        </div>
                        <div class="fs-14px text-overflow">
                            ${room.last_message ?
                            `<span class="semi-gray-color"">${room.last_message.user.username}:</span>
                            <span>${room.last_message.body.text}</span>` : " "
                            }
                        </div>
                    </div>
                `

                roomsObserveContainer.insertAdjacentElement('beforebegin', element)
                preLoadImage(`${room.other_user.image}`, `${room.other_user.username}_profile_image`)
              })
            }

        {% if room_id %}
            let messagesObserveContainer = document.getElementById("message-observe-container")
            let messagesObserver = null
            let pageNumber = 1

            let roomId = "{{ room_id }}"
            let ws_scheme = window.location.protocol === "http:" ? "ws:" : "wss:"
            let ws_path = ws_scheme + "//" + window.location.hostname + ":{% if not debug %}8001{% endif %}8000" + `/chat/${roomId}/`
            let chatSocket = new WebSocket(ws_path)
            setupWebsocket()

            function setupWebsocket() {
                chatSocket.onopen = function(e) {
                    console.log('websocket opened')
                    chatSocket.send(JSON.stringify({
                        'command': 'join',
                        'room_id': roomId,
                    }))
                }

                chatSocket.onmessage = function(e) {
                    let data = JSON.parse(e.data)
                    switch (data.msg_type) {
                        case "join": console.log("success"); setupObserveContainer(); break;
                        case "standard_message": appendChatMessage(data, true, true); break;
                        case "load_messages": pageNumber = data.new_page_number; console.log(data); loadMessages(data.messages); break;
                        case "error": handleError(data.code, data.message); break;

                        case "pagination_exhausted": paginationExhausted(); break;
                    }
                }

                chatSocket.onclose = (e) => {console.log("Websocket disconnected")}
                chatSocket.onerror = (e) => {console.log("Unknown error happened")}
            }


            function handleError(code, message) {
                console.log(`Server send back a response with code: ${code} and message: ${message}.`)
                chatSocket.close()
            }

            function loadMessages(messages) {
              messages = JSON.parse(messages)
              console.log(messages)
              messages.forEach(function(message) {
                appendChatMessage(message, false, true)
              })
            }

            function appendChatMessage(data, isNew, scroll) {
                let messageElement = createMessageElement(data)

                if (isNew) {
                  let insertPosition = chatMessagesContainer.firstChild.tagName === "DIV" ? 0 : 1;
                  chatMessagesContainer.insertBefore(messageElement, chatMessagesContainer.childNodes[insertPosition])
                } else {
                  messagesObserveContainer.insertAdjacentElement('beforebegin', messageElement)
                }
            }


            function createMessageElement(data) {
                let div = document.createElement('div')
                div.classList.add('d-flex', 'col-8', 'mt-3')

                "{{ request.user.username }}" === data.username ? div.classList.add('align-self-end', 'justify-content-end') : 1;

                div.innerHTML = `
                    <div class="py-2 px-3 rounded ${'{{ request.user.username }}' === data.username ? "bg-light-blue" : "bg-light-gray"}">
                        <div class="message-box">${data.message}</div>
                        <div class="text-end fs-12px text-muted mt-1">${data.timestamp}</div>
                    </div>
                `

                return div
            }

            function setupObserveContainer() {
                messagesObserver = createIntersectionObserver(messagesCallback)
                messagesObserver.observe(messagesObserveContainer)
            }

            function messagesCallback(entries) {
                for (const entry of entries) {
                    if (entry.isIntersecting) { console.log("called"); getNextMessagesPage(pageNumber) }
                }
            }

            function paginationExhausted() {
                pageNumber = -1
                messagesObserver.unobserve(messagesObserveContainer)
                messagesObserveContainer.remove()
            }

        {% endif %}

    </script>

    {% if room_id %}

        {# Sending request to the consumer  #}
        <script>

            function sendChatMessage(message) {
                chatSocket.send(JSON.stringify({
                    'command': 'send',
                    'message': message,
                    'room_id': roomId,
                }))
            }

            function getNextMessagesPage() {
                chatSocket.send(JSON.stringify({
                    'command': 'load_messages',
                    'page_number': pageNumber,
                    'room_id': roomId,
                }))
            }

        </script>
    {% endif %}
{% endblock content %}