{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="my-4">
        <div class="row mx-0">
            <div class="col-lg-9 col-md-8 col-sm-9 col-11 mx-auto" style="min-height: 600px; max-height: 600px">
                <div class="row bg-light rounded box-shadow h-100">
                    <div class="col-lg-4 p-0 border-end custom-scrollbar" id="chat-room-container" style="overflow-y: auto; height: 100%">

                        <div id="observe-container" class="d-block py-3"></div>
                    </div>

                    <div class="col-lg-8 col-12 d-flex flex-column p-0 h-100">
                        {% if room_id %}
                            <div class="d-flex p-3 border-bottom align-items-center">
                                <a href="{% url 'account:account' username=other_user.username %}" target="blank" class="me-2" style="width: 6%">
                                    <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" alt="" id="other_user_profile_image">
                                </a>
                                <a href="{% url 'account:account' username=other_user.username %}" target="blank" class="fw-bold link text-dark">{{ other_user.username }}</a>
                            </div>
                        {% endif %}
                        <div class="d-flex flex-column-reverse flex-grow-1 p-2 custom-scrollbar fs-14px" id="chat-messages-container" style="overflow-y: auto; height: 100%">


                            <div class="d-flex col-8 align-self-end justify-content-end">
                                <div class="py-2 px-3 rounded mt-3 bg-light-blue">
                                    <div class="message-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum minus nam officiis perferendis quidem quis quod, rem rerum tenetur totam velit voluptatem! Culpa cupiditate natus necessitatibus nihil nisi! Dolorem.</div>
                                    <div class="text-end fs-12px text-muted mt-1">18:27, May 12</div>
                                </div>
                            </div>


                            <div class="d-flex col-8 py-2 px-3 rounded mt-3" style="background-color: var(--light-gray-color); word-break: break-all">
                                <div>ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</div>
                            </div>
                        </div>
                        {% if room_id %}
                            <div class="input-group p-3">
                                <textarea class="form-control custom-scroll disable-focus m-0 p-2 bg-light text-muted fs-14px rounded-start" id="message-textarea" maxlength="800" rows="1" placeholder="Message..." style="overflow-y:scroll; overflow-x: hidden; border-radius: 0;"></textarea>
                                <button type="button" class="input-group-text bg-light fs-14px text-primary post-comment-button rounded-end" id="message-button" style="border-radius: 0">Send</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script>

        {% if room_id %}
            preLoadImage("{{ other_user.image.url }}", "other_user_profile_image")
        {% endif %}

        const limit = 10
        const chatRoomsContainer = document.getElementById("chat-room-container")
        let url = "{% url 'api:api-chat-rooms-list' %}" + `?limit=${limit}&offset=0`
        const observeContainer = document.getElementById("observe-container")
        const messageButton = document.getElementById("message-button")
        const messageField = document.getElementById("message-textarea")
        const chatMessagesContainer = document.getElementById('chat-messages-container')

        messageButton.addEventListener('click', function(e) {
            if (messageField.value.trim()) {
              sendChatMessage(messageField.value)
              messageField.value = ""
            }
        })

        setupMessageField(messageField)

        function setupMessageField(field) {
            field.addEventListener('keypress', function(e) {
                if (e.key === 'Enter' && !e.shiftKey) { e.preventDefault()}
            })
            field.addEventListener('keyup', function(e) {
                if (e.key === 'Enter' && !e.shiftKey && !e.ctrlKey && field.value.trim() !== "") { messageButton.click() }
            })
        }


        let observer;
        observer = new IntersectionObserver(callback, {
          root: null,        // intersect with viewport
          rootMargin: '0px', // no margin when computing intersections
          threshold:  0,   // execute callback when every pixel is visible
        })

        function callback(entries) {
            for (const entry of entries) {
                if (entry.isIntersecting) { getNextRoomsPage() }
            }
        }

        observer.observe(observeContainer)


        function getNextRoomsPage() {
          fetch(url)
            .then(response => response.json())
            .then(data => {
              url = data.next
              appendChatRoom(data.results)
              if (!url) {
                observer.unobserve(observeContainer)
                observeContainer.remove()
              }
            })
        }

        function appendChatRoom(data) {
              data.forEach(function(room, i) {
                let element = document.createElement('a')
                element.classList.add('d-flex', 'align-items-center', 'p-3', 'hover-block', 'text-decoration-none', 'text-dark')
                element.href = "{% url 'chat:chat-page' username=123456789 %}".replace(123456789, room.other_user.username)
                element.innerHTML = `
                    <div class="col-2 me-2">
                        <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" alt="" id="${room.other_user.username}_profile_image">
                    </div>
                    <div class="col-10 d-flex flex-column">
                        <div class="fw-bold">
                            ${room.other_user.username}
                        </div>
                        <div>
                            some text
                        </div>
                    </div>
                `

                observeContainer.insertAdjacentElement('beforebegin', element)
                preLoadImage(`${room.other_user.image}`, `${room.other_user.username}_profile_image`)
              })
            }

        {% if room_id %}
            let roomId = "{{ room_id }}"
            let ws_scheme = window.location.protocol === "http:" ? "ws:" : "wss:"
            let ws_path = ws_scheme + "//" + window.location.hostname + ":{% if not debug %}8001{% endif %}8000" + `/chat/${roomId}/`
            let chatSocket = new WebSocket(ws_path)
            setupWebsocket()

            function setupWebsocket() {
                chatSocket.onopen = function(e) {
                    console.log('websocket opened')
                    chatSocket.send(JSON.stringify({
                        'command': 'join',
                        'room_id': roomId,
                    }))
                }

                chatSocket.onmessage = function(e) {
                    let data = JSON.parse(e.data)
                    switch (data.msg_type) {
                        case "standard_message": appendChatMessage(data, true, true); break;
                        case "error": handleError(data.code, data.message); break;
                    }
                }

                chatSocket.onclose = (e) => {console.log("Websocket disconnected")}
                chatSocket.onerror = (e) => {console.log("Unknown error happened")}
            }


            function handleError(code, message) {
                console.log(`Server send back a response with code: ${code} and message: ${message}.`)
                chatSocket.close()
            }


            function appendChatMessage(data, isNew, scroll) {
                let messageElement = createMessageElement(data)

                if (isNew) {
                  let insertPosition = chatMessagesContainer.firstChild.tagName === "DIV" ? 0 : 1;
                  chatMessagesContainer.insertBefore(messageElement, chatMessagesContainer.childNodes[insertPosition])
                }
            }


            function createMessageElement(data) {
                let div = document.createElement('div')
                div.classList.add('d-flex', 'col-8', 'mt-3', 'justify-content-end')

                "{{ request.user.username }}" === data.username ? div.classList.add('align-self-end') : 1;

                div.innerHTML = `
                    <div class="py-2 px-3 rounded ${'{{ request.user.username }}' === data.username ? "bg-light-blue" : "bg-light-gray"}">
                        <div class="message-box">${data.message}</div>
                        <div class="text-end fs-12px text-muted mt-1">18:27, May 12</div>
                    </div>
                `

                return div
            }

        {% endif %}

    </script>

    {# Sending request to the consumer  #}
    <script>
        function sendChatMessage(message) {
            chatSocket.send(JSON.stringify({
                'command': 'send',
                'message': message,
                'room_id': roomId,
            }))
        }
    </script>
{% endblock content %}