{% extends 'snippets/dashboard.html' %}
{% load static %}

{% block dashboard_content %}

    <div class="col-11 col-sm-8 col-lg-6 mx-auto">
        <div class="text-center h2 mb-3">Change Your Password</div>
        <form id="password-change-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Old Password</label>
                <input type="password" class="form-control" name="old_password" placeholder="Enter old password">
            </div>

            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input type="password" class="form-control" name="new_password1" placeholder="Enter new password">
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" name="new_password2" placeholder="Confirm new password">
            </div>
        </form>

        <div class="mb-2">
            {% for err in form.non_field_errors %}
                <div class="text-danger">
                    <span>{{ err }}</span>
                </div>
            {% endfor %}
            {% for key, err_list in form.errors.items %}
                <div class="text-danger">
                    <small>- {{ err_list.0 }}</small>
                </div>
            {% endfor %}
        </div>

        <div class="d-grid gap-4">
            <button form="password-change-form" type="submit" class="btn btn-sm btn-secondary d-block">Change</button>
        </div>

    </div>

{% endblock dashboard_content %}