<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email template</title>
</head>
<body>
      <table style="height: 100%; width: 600px;">
          <tr>
            <td style="padding: 30px">
               <p><span style="font-weight: bold">Hello,</span><br><br> We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below.</p>
              <p>
                <a target="_blank" style="display: block; width: 100%; font-weight:bold; text-align: center; text-decoration:none; background-color: #3f3f3f; color: #fff; padding:10px 10px;" href="{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}">
                  Reset Password
                </a>
              </p>
              <p>This link can only be used once. If you need to reset your password again, please visit <a href="{{ protocol }}://{{domain}}">our website</a> and request another reset.<br><br>If you did not make this request, you can simply ignore this email.</p>
              <p>Sincerely,<br>Argon Team</p>
            </td>
          </tr>
      </table>
</body>
</html>