{% extends 'base.html' %}

{% block content %}

    <div class="col-lg-4 col-10 col-sm-8 col-md-6 mx-auto bg-light py-4 px-5 mt-5 box-shadow rounded">
        <h3 class="text-center">Email sent</h3>
        <div class="mt-3">
             We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </div>
        <br>
        <small class="text-muted">
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </small>
    </div>

{% endblock content %}