{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="mt-3">
        <div class="row mx-0">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10 mx-auto">

                <div class="mx-auto mt-3" id="post-container"></div>
            </div>
            <div id="observe-container" class="d-block py-3"></div>
        </div>
    </section>

    <script>
        let limit = 10;
        let postContainer = document.getElementById('post-container')
        let observeContainer = document.getElementById('observe-container')
        let url = "{% url 'api:api-post-list' %}" + `?limit=${limit}&offset=0`
        let postLikeUrl = "{% url 'post:post-like' post_id=123456789 %}"

        let observer;
        observer = new IntersectionObserver(callback, {
          root: null,        // intersect with viewport
          rootMargin: '0px', // no margin when computing intersections
          threshold:  0,   // execute callback when every pixel is visible
        })

        function callback(entries) {
            for (const entry of entries) {
                if (entry.isIntersecting) {
                    getNextPage()
                }
            }
        }

        observer.observe(observeContainer)

        function getNextPage() {
            fetch(url)
            .then(response => response.json())
            .then(data => {
              url = data.next
              if (!url) { observer.unobserve(observeContainer) }
              containerAppendData(data.results)
            })
        }

        function containerAppendData(data) {
          data.forEach(function(post, i) {
            let div = document.createElement('div')
            div.classList.add(`card`,`mt-3`, `box-shadow`)
            let user_href = "{% url 'account:account' username=123456789 %}".replace(123456789, post.user.username)

            div.innerHTML += `
               <div class="card-header d-flex align-items-center">
                   <div class="col-1 me-2">
                       <a href="${user_href}">
                           <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" alt="" id="${post.id}_profile_image">
                       </a>
                   </div>
                   <div class="col-11">
                       <a href="${user_href}" class="fw-bold link text-dark">${post.user.username}</a>
                   </div>
               </div>
            `

            if (post.post_images.length === 1) {
              div.innerHTML += `<img src="{% static 'images/gray-bg.png' %}" class="card-img-top" id="${post.id}_image_0" style="border-radius: 0!important">`
            } else {

              let carouselButtons = post.post_images.map((item, i) => {
                return `<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="${i}" class="${i === 0 ? "active": ""}"></button>`
              }).join("")

              let carouselImages = post.post_images.map((item, i) => {
                return `<div class="carousel-item ${i === 0 ? "active" : ""}">
                    <img src="{% static 'images/gray-bg.png' %}" class="d-block w-100" id="${post.id}_image_${i}" style="border-radius: 0!important">
                 </div>`
              }).join("")


              div.innerHTML += `
                   <div id="carouselExampleIndicators" class="carousel slide rounded box-shadow" data-bs-interval="false">
                      <div class="carousel-indicators" id="carouselButtonsIndicators">
                          ${carouselButtons}
                      </div>
                      <div class="d-flex align-items-center carousel-inner" id="carouselImagesIndicators" style="background-color: var(--semi-gray-color);">
                          ${carouselImages}
                      </div>
                  </div>
              `
            }

            div.innerHTML += `
               <div class="card-body">
                  <div class="d-flex">
                      <i class="${post.is_liked_by_user ? "fa-solid" : "fa-light" } text-danger fa-heart fs-5 me-3" id="${post.id}_like" data-post_id="${post.id}" data-action="${post.is_liked_by_user ? "dislike":"like"}"></i>
                      <i class="fa-light fa-comment fs-5"></i>
                  </div>

                  <div class="mt-1">
                      <span class="fw-bold" id="${post.id}_likes_count">${post.likes_count}</span> <span id="${post.id}_like_word">like${ post.likes_count === 1 ? "" : "s" }</span>
                  </div>

                  <p class="card-text fs-14px mt-1 mb-2 text-muted">${post.description}</p>
                  <div class="text-muted fs-14px">${post.timestamp}</div>
              </div>
            `
            postContainer.appendChild(div)

            for (let i = 0; i < post.post_images.length; i++) {
                preLoadImage(post.post_images[i].image, `${post.id}_image_${i}`)
                document.getElementById(`${post.id}_like`).addEventListener('click', postLike)
            }

            preLoadImage(post.user.image, `${post.id}_profile_image`)
          })
        }

        async function postLike(e) {
            let action = e.target.dataset.action
            if (!['like', 'dislike'].includes(action)) { return }

            this.removeEventListener(e.type, postLike)
            await fetch(postLikeUrl.replace(123456789, e.target.dataset.post_id), {
              method: 'POST',
              headers: {
                'X-CSRFToken': "{{ csrf_token }}",
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({'action': e.target.dataset.action})
            })
            .then(response => response.json())
            .then(data => {
              if (data.response_result === "success") {
                  e.target.classList.remove(data.is_liked ? 'fa-light': 'fa-solid')
                  e.target.classList.add(data.is_liked ? 'fa-solid': 'fa-light')
                  e.target.dataset.action = data.is_liked ? 'dislike': 'like'

                  let likesCountBtn = document.getElementById(`${e.target.dataset.post_id}_likes_count`)
                  let likesWord = document.getElementById(`${e.target.dataset.post_id}_like_word`)
                  likesCountBtn.innerText = String(Number(likesCountBtn.innerText) + (data.is_liked ? 1:-1))
                  likesWord.innerText = data.likes_count === 1 ? "like": "likes";
              }
             })
            this.addEventListener(e.type, postLike)
        }


    </script>
{% endblock content %}