{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="mt-4">
        <div class="row mx-0">
            <div class="col-lg-6 col-md-8 col-10 mx-auto">
                <div id="upload-new-container" class="d-flex align-items-center justify-content-center mx-auto bg-light box-shadow rounded" style="max-width: 350px; height: 300px;">
                    <div class="h3">Upload new images</div>
                </div>

                <div id="carouselExampleIndicators" class="carousel slide d-none mx-auto rounded box-shadow" data-bs-interval="false" style="max-width: 350px; height: 350px;">
                    <div class="carousel-indicators" id="carouselButtonsIndicators">

                    </div>
                    <div class="d-flex align-items-center carousel-inner h-100" id="carouselImagesIndicators" style="background-color: var(--semi-gray-color);">

                    </div>
                </div>

                <form action="" method="post" enctype="multipart/form-data" id="post-create-form">
                    {% csrf_token %}

                     <div class="mb-3">
                        <input class="d-none" type="file" name="images" id="account-image-file-selector" accept=".png, .jpeg, .jpg" required multiple onchange="readURL(this)">
                    </div>

                    <div class="mb-3">
                        <textarea class="form-control mx-auto custom-scroll disable-focus" name="description" maxlength="164" contentEditable  rows="3" placeholder="Enter description" style="overflow-y:scroll; overflow-x: hidden; max-width: 350px;"></textarea>
                    </div>



                    <div class="d-grid gap-2 mx-auto" style="max-width: 350px">
                      <button type="submit" class="btn btn-primary disable-focus" id="submit-button" disabled>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>

    const uploadNewContainer = document.getElementById("upload-new-container")
    const fileSelector = document.getElementById("account-image-file-selector")
    const carouselContainer = document.getElementById('carouselExampleIndicators')
    const carouselButtons = document.getElementById('carouselButtonsIndicators')
    const carouselImages = document.getElementById('carouselImagesIndicators')
    const postCreateForm = document.getElementById("post-create-form")
    let submitButton = document.getElementById("submit-button")

    function isImageSizeValid(image) {
        return image.size < Number("{{ DATA_UPLOAD_MAX_MEMORY_SIZE }}");
    }

    enableUploadNewContainerOverlay()
    function readURL(input) {

        if (input.files.length > 4) {
          alert("Maximum of 4 images can be uploaded")
          fileSelector.value = ""
          return;
        }

        if (input.files.length > 0) {
            for (let i = 0; i < input.files.length; i++) {
                if (!isImageSizeValid(input.files[i])) {
                    alert("One of uploaded images exceeds the maximum uploading file size of 10 MB")
                    fileSelector.value = ""
                    return;
                }
            }

            submitButton.addEventListener('click', function(e) {
                submitButton.setAttribute("disabled", "true")
                postCreateForm.submit()
            })
            carouselButtons.innerHTML = ""
            carouselImages.innerHTML = ""

            for(let i = 0; i < input.files.length; i++) {
              let fileReader = new FileReader()

              fileReader.onload = function (e) {
                let image = e.target.result
                carouselButtons.innerHTML += `<button class="${i === 0 ? 'active': ''}" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="${i}" aria-current="true" aria-label="Slide ${i}"></button>`
                carouselImages.innerHTML += `
                    <div class="carousel-item ${i === 0 ? 'active': ''}">
                      <img src="${image}" class="d-block w-100" alt="" id="carousel_image_${i}">
                    </div>
                `
                if (i === (input.files.length - 1)) { submitButton.removeAttribute("disabled") }
              }

              fileReader.readAsDataURL(input.files[i])
            }

            carouselContainer.classList.remove('d-none')
            carouselContainer.classList.add('d-block')
            uploadNewContainer.classList.remove('d-flex')
            uploadNewContainer.classList.add('d-none')

        }
    }

    function enableUploadNewContainerOverlay() {
        uploadNewContainer.style.transition = 'all .5s'
        uploadNewContainer.addEventListener('mouseover', uploadNewContainerMouseOver)
        uploadNewContainer.addEventListener('mouseout', uploadNewContainerMouseOut)
        uploadNewContainer.addEventListener('click', uploadNewContainerMouseClick)
    }

    function disableUploadNewContainerOverlay() {
        uploadNewContainer.style.transition = 'all .5s'
        uploadNewContainer.removeEventListener('mouseover', uploadNewContainerMouseOver)
        uploadNewContainer.removeEventListener('mouseout', uploadNewContainerMouseOut)
        uploadNewContainer.removeEventListener('click', uploadNewContainerMouseClick)
    }

    function uploadNewContainerMouseOver(e) {
        uploadNewContainer.style.opacity = '0.5'
        uploadNewContainer.style.transform = 'scale(1.02)'
    }

    function uploadNewContainerMouseOut(e) {
        uploadNewContainer.style.opacity = '1'
        uploadNewContainer.style.transform = 'scale(1.00)'
    }

    function uploadNewContainerMouseClick(e) {
        fileSelector.click()
    }


    </script>
{% endblock content %}