{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="mt-5">
        <div class="row mx-0">
            <div class="col-lg-9 col-md-8 col-sm-9 col-11 mx-auto">
                <div class="row bg-light rounded box-shadow">
                    <div class="col-lg-7 col-12 p-0">
                        {% if post.post_images.all.count == 1 %}
                            <div class="d-flex" style="max-height: 550px;">
                                <img src="{% static 'images/gray-bg.png' %}" class="d-block w-100" id="{{ post.id }}_post_image_0" style="border-radius: 0!important; object-fit: cover; min-height: 450px;">
                            </div>
                        {% else %}
                            <div id="carouselExampleIndicators" class="carousel slide rounded box-shadow" data-bs-interval="false">
                                <div class="carousel-indicators" id="carouselButtonsIndicators">
                                    {% for post_image in post.post_images.all %}
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></button>
                                    {% endfor %}
                                </div>
                                <div class="d-flex align-items-center carousel-inner" id="carouselImagesIndicators" style="background-color: var(--semi-gray-color);">
                                    {% for post_image in post.post_images.all %}
                                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" style="max-height: 550px;">
                                            <img src="{% static 'images/gray-bg.png' %}" class="d-block w-100" id="{{ post.id }}_post_image_{{ forloop.counter0 }}" style="border-radius: 0!important; object-fit: cover; min-height: 450px;">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-lg-5 col-12 d-flex flex-column p-0">
                        <div class="d-flex align-items-center p-3" style="background-color: var(--light-gray-color);">
                            <div class="col-1 me-2">
                                <a href="{% url 'account:account' username=post.user.username %}">
                                    <img class="img-fluid rounded-circle" src="{{ post.user.image.url }}" alt="">
                                </a>
                            </div>
                            <div class="col-11">
                               <a href="{% url 'account:account' username=post.user.username %}" class="fw-bold link text-dark">{{ post.user.username }}</a>
                            </div>
                        </div>

                        <div class="d-flex-column flex-grow-1 post-comments-container" id="{{ post.id }}-post-comments-container" style="min-height: 200px; max-height: 350px">

                            <div id="observe-container" class="d-block py-3"></div>
                        </div>

                        <div class="input-group mb-3 mt-auto">
                            <textarea class="form-control custom-scroll disable-focus m-0 bg-light text-muted" id="{{ post.id }}-post-comment-description-field" data-post_id="{{post.id}}" maxlength="80" rows="1" placeholder="Add a comment..." style="overflow-y:scroll; overflow-x: hidden; border-radius: 0"></textarea>
                            <button type="button" class="input-group-text bg-light fs-14px text-primary post-comment-button" id="{{ post.id }}-post-comment-button" data-post_id="{{post.id}}" style="border-radius: 0">post</button>
                        </div>

                        <div class="px-3 mb-2 mt-auto">
                            <div class="d-flex">
                                <i class="{% if is_liked %}fa-solid{% else %}fa-light{% endif %} text-danger fa-heart fs-5 me-3" id="{{post.id}}_like" data-post_id="{{post.id}}" data-action="{% if is_liked %}dislike{% else %}like{% endif %}"></i>
                            </div>

                            <div class="mt-1">
                               <span class="fw-bold" id="{{ post.id }}_likes_count">{{post.likes_count}}</span> <span id="{{ post.id }}_like_word">like{{ post.likes_count|pluralize:'s' }}</span>
                            </div>

                            <p class="card-text fs-14px mt-1 mb-2 text-muted">{{post.description}}</p>
                            <div class="text-muted fs-14px">{{post.timestamp}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script>

        {% for post_image in post.post_images.all %}
            preLoadImage("{{ post_image.image.url }}", "{{ post.id }}_post_image_{{ forloop.counter0 }}")
        {% endfor %}

        let limit = 10;
        let postCommentsContainer = document.getElementById(`{{ post.id }}-post-comments-container`)
        let postCommentButton = document.getElementById(`{{ post.id }}-post-comment-button`)
        let postCommentDescriptionField = document.getElementById(`{{ post.id }}-post-comment-description-field`)

        let observeContainer = document.getElementById('observe-container')

        let postCommentsUrl = "{% url 'api:api-post-comments-list' post_id=post.id %}" + `?limit=${limit}&offset=0`

        document.getElementById("{{post.id}}_like").addEventListener('click', postLike)
        postCommentButton.addEventListener('click', postComment)
        setupDescriptionField(postCommentDescriptionField)

        let observer;
        observer = new IntersectionObserver(callback, {
          root: null,        // intersect with viewport
          rootMargin: '0px', // no margin when computing intersections
          threshold:  0,   // execute callback when every pixel is visible
        })

        function callback(entries) {
            for (const entry of entries) {
                if (entry.isIntersecting) { getNextCommentsPage() }
            }
        }

        observer.observe(observeContainer)

        function getNextCommentsPage() {
            fetch(postCommentsUrl)
            .then(response => response.json())
            .then(data => {
              postCommentsUrl = data.next
              appendComments(data.results)
              if (!postCommentsUrl) { observer.unobserve(observeContainer); observeContainer.remove() }
            })
        }

        function appendComments(data) {
            data.forEach(function(comment, i) {
                let commentDiv = commentElement(comment.id, comment.user.username, comment.description, comment.timestamp, comment.likes_count, comment.is_liked_by_user)
                postCommentsContainer.insertBefore(commentDiv, observeContainer)
            })

            for (let i = 0; i < data.length; i++) {
                commentsButtonEventListeners(data[i].id, data[i].user.username)
                preLoadImage(data[i].user.image, `${data[i].id}_comment_profile_image`)
            }
        }

    </script>
{% endblock content %}