{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

    <section class="mt-5" id="section">
        <div class="row mx-0">
            <div class="col-lg-9 col-md-8 col-sm-9 col-11 mx-auto">
                <div class="row bg-light rounded box-shadow">
                    <div class="col-lg-7 col-12 p-0" style="background-color: var(--main-bg-color); border-right: 1px solid rgba(0,0,0,0.05)">
                        {% if post.post_images.all.count == 1 %}
                            <div class="d-flex" style="height: 600px;">
                                <img src="{% static 'images/gray-bg.png' %}" class="d-block w-100 h-100" id="{{ post.id }}_post_image_0" style="border-radius: 0!important; object-fit: contain; min-height: 450px;">
                            </div>
                        {% else %}
                            <div id="carouselExampleIndicators" class="carousel slide rounded box-shadow" data-bs-interval="false">
                                <div class="carousel-indicators" id="carouselButtonsIndicators">
                                    {% for post_image in post.post_images.all %}
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="rounded {% if forloop.counter0 == 0 %}active{% endif %}" style="border: 1px solid rgba(0,0,0,0.5)"></button>
                                    {% endfor %}
                                </div>
                                <div class="d-flex align-items-center carousel-inner" id="carouselImagesIndicators" style="background-color: var(--main-bg-color);">
                                    {% for post_image in post.post_images.all %}
                                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" style="height: 600px;">
                                            <img src="{% static 'images/gray-bg.png' %}" class="d-block w-100 h-100" id="{{ post.id }}_post_image_{{ forloop.counter0 }}" style="border-radius: 0!important; object-fit: contain; min-height: 450px;">
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="width:10%">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="width:10%">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-lg-5 col-12 d-flex flex-column p-0" style="">
                        <div class="d-flex align-items-center p-3" style="background-color: var(--light-gray-color);">
                            <div class="col-1 me-2">
                                <a href="{% url 'account:account' username=post.user.username %}">
                                    <img class="img-fluid rounded-circle" src="{{ post.user.image.url }}" alt="">
                                </a>
                            </div>
                            <div class="d-flex col-11 justify-content-between align-items-center">
                                <a href="{% url 'account:account' username=post.user.username %}" class="fw-bold link text-dark text-overflow">{{ post.user.username }}</a>
                                {% if post.user == request.user %}
                                    <a href="{% url 'post:post-edit' post_id=post.id %}" class="link text-muted me-2">Edit</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="d-flex flex-column post-comments-container" id="{{ post.id }}-post-comments-container" style="max-height: 392px">

                            <div id="observe-container" class="d-block py-3"></div>
                        </div>

                        <div class="mt-auto">
                            <div class="input-group mb-3">
                                <textarea class="form-control custom-scroll disable-focus m-0 bg-light text-muted" id="{{ post.id }}-post-comment-description-field" data-post_id="{{post.id}}" maxlength="80" rows="1" placeholder="Add a comment..." style="overflow-y:scroll; overflow-x: hidden; border-radius: 0"></textarea>
                                <button type="button" class="input-group-text bg-light fs-14px text-primary post-comment-button" id="{{ post.id }}-post-comment-button" data-post_id="{{post.id}}" style="border-radius: 0">post</button>
                            </div>

                            <div class="px-3 mb-2 mt-auto">
                                <div class="d-flex">
                                    <i class="{% if is_liked %}fa-solid{% else %}fa-light{% endif %} text-danger fa-heart fs-5 me-3" id="{{post.id}}_like" data-post_id="{{post.id}}" data-action="{% if is_liked %}dislike{% else %}like{% endif %}"></i>
                                </div>

                                <div class="mt-1 link" onclick="postLikeElementClick({{ post.id }})">
                                   <span class="fw-bold" id="{{ post.id }}_likes_count">{{ post.likes_count|intcomma }}</span> <span id="{{ post.id }}_like_word">like{{ post.likes_count|pluralize:'s' }}</span>
                                </div>

                                <p class="card-text fs-14px mt-1 mb-2 text-muted" style="word-break: break-all">{{post.description}}</p>
                                <div class="text-muted fs-14px">{{post.timestamp}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'post/post_users_liked_script.html' %}

    <script>

        {% for post_image in post.post_images.all %}
            preLoadImage("{{ post_image.image.url }}", "{{ post.id }}_post_image_{{ forloop.counter0 }}")
            document.getElementById('{{ post.id }}_post_image_{{ forloop.counter0 }}').addEventListener('dblclick', function(e) {
                document.getElementById(`{{ post.id }}_like`).click()
            })
        {% endfor %}

        let limit = 10;
        let postCommentsContainer = document.getElementById(`{{ post.id }}-post-comments-container`)
        let postCommentButton = document.getElementById(`{{ post.id }}-post-comment-button`)
        let postCommentDescriptionField = document.getElementById(`{{ post.id }}-post-comment-description-field`)

        let observeContainer = document.getElementById('observe-container')

        let postCommentsUrl = window.location.origin + "{% url 'api:api-post-comments-list' post_id=post.id %}" + `?limit=${limit}&offset=0`

        document.getElementById("{{post.id}}_like").addEventListener('click', postLike)
        postCommentButton.addEventListener('click', postComment)
        setupDescriptionField(postCommentDescriptionField)

        let observer;
        observer = new IntersectionObserver(callback, {
          root: null,        // intersect with viewport
          rootMargin: '0px', // no margin when computing intersections
          threshold:  0,   // execute callback when every pixel is visible
        })

        function callback(entries) {
            for (const entry of entries) {
                if (entry.isIntersecting) { getNextCommentsPage() }
            }
        }

        observer.observe(observeContainer)

        function getNextCommentsPage() {
            fetch(postCommentsUrl)
            .then(response => response.json())
            .then(data => {
              postCommentsUrl = data.next
              if (postCommentsUrl && window.location.protocol === "https:") { postCommentsUrl = postCommentsUrl.replace("http:", "https:") }
              appendComments(data.results)
              if (!postCommentsUrl) { observer.unobserve(observeContainer); observeContainer.remove() }
            })
        }

        function appendComments(data) {
            data.forEach(function(comment, i) {
                let commentDiv = commentElement(comment.id, comment.user.username, comment.description, comment.timestamp, comment.likes_count, comment.is_liked_by_user)
                postCommentsContainer.insertBefore(commentDiv, observeContainer)
            })

            for (let i = 0; i < data.length; i++) {
                commentsButtonEventListeners(data[i].id, data[i].user.username)
                preLoadImage(data[i].user.image, `${data[i].id}_comment_profile_image`)
            }
        }

    </script>
{% endblock content %}