<script>
    function addPostModal(e) {
        let post = e.currentTarget.post
        let observeContainer = document.getElementById('observe-container')
        let modalDiv = document.createElement('div')
        modalDiv.id = "post_modal"
        modalDiv.classList.add('modal', 'fade')
        modalDiv.innerHTML = `
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ${post.id}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
                        </div>
                    </div>
                </div>
        `

        observeContainer.insertAdjacentElement('afterend', modalDiv)
        $('#post_modal').modal('show');
        window.history.pushState({}, "", "{% url 'account:account' username="sergeyka" %}")
        $("#post_modal").on("hidden.bs.modal", function () {
            window.history.pushState({}, "", "{% url 'post:feed' %}")
        });
    }
</script>