{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="mt-4">
        <div class="row mx-0">
            <div class="col-lg-6 col-md-8 col-11 mx-auto" id="scroll-container">
                <div class="row">
                    <div class="d-flex col-4 justify-content-center align-items-center">
                        <div class="col col-lg-8 col-md-10">
                           <img class="img-fluid rounded-circle w-100" src="{{ account.image.url }}" alt="user-profile-image">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="d-flex justify-content-between align-items-center">
                            <h1 class="fw-light mb-0" style="height: 50px; line-height: 40px">{{ account.username }}</h1>

                            {% if request.user == account %}
                                <a href="{% url 'account:account-edit' username=request.user.username %}" class="btn btn-outline-secondary fs-14px py-1 px-3 disable-focus">
                                    Edit
                                </a>
                            {% else %}
                                <div class="dropdown">
                                    <i class="fa fa-solid fa-ellipsis-vertical fs-5" id="dropdownMenuButton2" data-bs-toggle="dropdown"></i>

                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">

                                        {% if incoming_request %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between align-items-center" onclick="generalFollowRequest('accept-request')">
                                                    <div class="me-4">Accept request</div>
                                                    <i class="fa-solid fa-check me-1 text-success"></i>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if incoming_request %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between align-items-center" onclick="generalFollowRequest('decline-request')">
                                                    <div class="me-4">Decline request</div>
                                                    <i class="fa-solid fa-xmark me-1 text-danger"></i>
                                                </a>
                                            </li>
                                        {% endif %}


                                        {% if is_followed %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between align-items-center" onclick="generalFollowRequest('remove')">
                                                    <div class="me-4">Remove follower</div>
                                                    <i class="fa-solid fa-minus me-1 text-danger"></i>
                                                </a>
                                            </li>
                                        {% endif %}

                                        <li>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center">
                                                <div class="me-4">Cancel</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                        {% if request.user != account %}
                            <div class="d-flex align-items-center mt-2">
                                <a href="{% url 'chat:chat-page' username=account.username %}" class="btn btn-outline-dark btm-sm fs-14px py-1 px-2 me-2 disable-focus" type="button">
                                    Message
                                </a>

                                <div id="fr-action-button-container">
                                    {% if is_following %}
                                        <button class="btn btn-outline-danger btm-sm fs-14px py-1 px-2 me-2 disable-focus" type="button" onclick="generalFollowRequest('unfollow')">
                                            Unfollow
                                        </button>
                                    {% else %}
                                        {% if outgoing_request %}
                                            <button class="btn btn-outline-danger btm-sm fs-14px py-1 px-2 me-2 disable-focus" type="button" onclick="generalFollowRequest('cancel-request')">
                                                Cancel Request
                                            </button>
                                        {% else %}
                                            <button class="btn btn-primary btm-sm fs-14px py-1 px-2 me-2 disable-focus" type="button" onclick="generalFollowRequest('follow')">
                                                Follow {% if is_followed %}Back {% endif %}
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="my-3">
                    <div class="fw-bold mt-2">
                        {{ account.name }}
                    </div>
                    <div class=" mt-2">
                        {{ account.bio }}
                    </div>
                </div>

                <hr>
                <div class="col-md-8 col-10 mx-auto">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="text-center">{{ posts_count }}</div>
                            <div class="fw-bold">post{{ posts_count|pluralize }}</div>
                        </div>
                        <a class="d-block link text-dark" href="{% url 'account:account-followers' username=account.username %}">
                            <div class="text-center">{{ followers_count }}</div>
                            <div class="fw-bold">follower{{ followers_count|pluralize }}</div>
                        </a>
                        <a class="d-block link text-dark" href="{% url 'account:account-following' username=account.username %}">
                            <div class="text-center">{{ following_count }}</div>
                            <div class="fw-bold">following{{ following_count|pluralize }}</div>
                        </a>
                    </div>
                </div>

                <div class="d-flex flex-wrap flex-row mx-auto mt-3" id="post-container">

                </div>

                {% if is_following or request.user == account or account.is_public %}
                    <div id="observe-container" class="d-block py-3"></div>
                {% else %}
                    <div id="account-is-private">
                        <div class="text-center my-2">
                            <i class="fa-thin fa-lock mx-auto" style="font-size: 50px"></i>
                        </div>
                        <div class="text-center">
                            <div class="h4 mb-0">Account is private</div>
                            <div class="fs-12px text-muted">You have to subscribe to see their posts</div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>

    <script>
        let limit = 18;
        let postContainer = document.getElementById('post-container')
        let observeContainer = document.getElementById('observe-container')
        let url = window.location.origin + "{% url 'api:api-post-list-by-user' username=account.username %}" + `?limit=${limit}&offset=0`

        let observer;
        observer = new IntersectionObserver(callback, {
          root: null,        // intersect with viewport
          rootMargin: '0px', // no margin when computing intersections
          threshold:  0,   // execute callback when every pixel is visible
        })

        function callback(entries) {
            for (const entry of entries) {
                if (entry.isIntersecting) {
                    getNextPage(entry)
                }
            }
        }

        {% if is_following or request.user == account or account.is_public %} observer.observe(observeContainer) {% endif %}

        function getNextPage(entry) {
            fetch(url)
            .then(response => response.json())
            .then(data => {
              url = data.next
              if (url && window.location.protocol === "https:") { url = url.replace("http:", "https:") }
              if (!url) { observer.unobserve(observeContainer) }
              containerAppendData(data.results)
            })
        }

        function containerAppendData(data) {
          data.forEach(function(post, i) {
            let div = document.createElement('a')
            div.classList.add('col-4', 'mt-1', 'text-decoration-none')
            div.style.position = 'relative'
            div.target = "_blank"
            div.href = "{% url 'post:post-page' post_id=123456789 %}".replace(123456789, `${post.id}`)

            div.innerHTML += `
                <img class="img-fluid account-view-image d-block mx-auto" src="{% static 'images/gray-bg.png' %}" id="${post.id}_post_image">
                <div class="account-view-desc text-dark">
                    <i class="fa-solid fa-heart me-1"></i> ${post.likes_count}
                </div>
            `
            postContainer.appendChild(div)
            preLoadImage(post.post_images[0].image, `${post.id}_post_image`)
          })
        }

        function generalFollowRequest(action) {
          $.ajax({
            type: "POST",
            dataType: "json",
            data: {
              'action': action,
              "csrfmiddlewaretoken": "{{ csrf_token }}",
            },
            url: "{% url 'follow:follow-action' username=account.username %}",
            timeout: 5 * 1000,
            success: function(data) {
              if (data.response_result === "success") { window.location.reload() }
              else if (data.response_result === "error") { console.log(data) }
            }
          })
        }

        function changeFrActionButton(action) {
            let container = document.getElementById('fr-action-button-container')
            if (!container) { return null }
            if (!['follow', 'unfollow'].includes(action)) { return null }

            let button = document.createElement('button')
            button.classList.add('btn', 'btm-sm', 'fs-14px', 'py-1', 'px-2', 'me-2', 'disable-focus')
            button.classList.add(action === "unfollow" ? 'btn-outline-danger' : 'btn-primary')
            button.type = "button"
            button.onclick = function () { generalFollowRequest(action) }
            button.innerHTML = action === "unfollow" ? "Unfollow" : "Follow {% if is_following %}Back{% endif %}"

            container.innerHTML = ""
            container.appendChild(button)

            if (action === "unfollow") {
                document.getElementById('account-is-private')?.remove()

                observeContainer = document.createElement("div")
                observeContainer.id = "observe-container"
                observeContainer.classList.add('d-block', 'py-3')
                postContainer?.insertAdjacentElement('afterend', observeContainer)
                observer?.observe(observeContainer)
            }
        }

    </script>
{% endblock content %}