{% extends 'base.html' %}
{% load static %}
{% load custom_templatetags %}

{% block content %}

    <style>

        .custom-input-group:hover {
            border-color: var(--primary-color);
        }

        .custom-input-group input {
            box-shadow: none!important;
        }

        .custom-input-group label {
            position: absolute;
            background-color: transparent;
            line-height: 24px;
            top: 0;
            left: 0;
            bottom: 0;
            padding: .375rem .75rem;
            margin-bottom: 0;
            transition: all .3s;
        }

        .custom-input-group:focus-within label,
        .custom-input-group input:not(:placeholder-shown) ~ label {
            padding: 0 8px;
            background-color: white;
            top: -14px;
            left: 7px;
            bottom: auto;
            color: var(--primary-color)!important;
            border-radius: 5px;
        }


    </style>

    <section>
        <div class="container-fluid p-0">
            <div class="row justify-content-center align-items-center m-0" style="height: 100vh; min-height: 700px">
                <div class="col-lg-8 col-11 auth-container bg-light" style="min-height: 500px;">
                    <div class="row justify-content-center" style="height: 100%; background-color: white">
                        <div class="col-6 d-none d-lg-block p-0" style="height: 100%">
                            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: 100%">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner" style="height: 100%">
                                    <div class="carousel-item active h-100">
                                        <img id="carouselImage_1" src="{% static 'images/gray-bg.png' %}" class="d-block w-100 h-100 objfit-cover">
                                    </div>
                                    <div class="carousel-item h-100">
                                        <img id="carouselImage_2" src="{% static 'images/gray-bg.png' %}" class="d-block w-100 h-100 objfit-cover">
                                    </div>
                                    <div class="carousel-item h-100">
                                        <img id="carouselImage_3" src="{% static 'images/gray-bg.png' %}" class="d-block w-100 h-100 objfit-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-8 col-12 p-3">
                            <div class="row align-items-center px-lg-5 px-2" style="height: 100%">
                                <div>
                                    <h1 class="header-font text-center mb-4" style="font-size: 50px">Argon</h1>

                                    <div>
                                        {% if page == "login" %}
                                            <form action="{% url 'account:login' %}" method="POST" id="login-form">
                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="mb-4 position-relative custom-input-group">
                                                        {{ field }}
                                                        <label for="" class="form-label placeholder-text text-muted">{{ field.label }}</label>
                                                    </div>
                                                {% endfor %}

                                            </form>

                                            {% for err in form.non_field_errors %}
                                                <div class="text-danger">
                                                    <span>{{ err }}</span>
                                                </div>
                                            {% endfor %}

                                            <div class="mb-2 d-flex justify-content-end me-1">
                                                <small class="text-muted"><a class="link gray-color" href="{% url 'account:password_reset' %}">Forgot password?</a></small>
                                            </div>

                                            <div class="d-grid gap-4">
                                                <button form="login-form" type="submit" class="btn btn-sm btn-primary d-block">Login</button>
                                            </div>
                                            <div class="d-flex align-items-center my-3">
                                                <div class="or-line"></div>
                                                <span class="mx-3 ">or</span>
                                                <div class="or-line"></div>
                                            </div>
                                            <div class="text-center">
                                                New to Argon?
                                                <a class="link link-color" href="{% url 'account:register' %}">Register</a>
                                            </div>

                                        {% elif page == "register" %}
                                            <div>

                                                <form action="{% url 'account:register' %}" method="POST" id="register-form">
                                                    {% csrf_token %}

                                                    {% for field in form %}
                                                        <div class="mb-4 position-relative custom-input-group">
                                                            {{ field }}
                                                            <label for="" class="form-label placeholder-text text-muted">{{ field.label }}</label>
                                                        </div>
                                                    {% endfor %}

                                                </form>
                                            </div>

                                            <div class="mb-2">
                                                {% for err in form.non_field_errors %}
                                                    <div class="text-danger">
                                                        <span>{{ err }}</span>
                                                    </div>
                                                {% endfor %}
                                                {% if form.errors|show_error %}
                                                    <div class="text-danger">
                                                        <small>- {{ form.errors|show_error }}</small>
                                                    </div>
                                                {% endif %}
                                            </div>

                                            <div class="d-grid gap-4">
                                                <button form="register-form" type="submit" class="btn btn-sm btn-primary d-block">Register</button>
                                            </div>
                                            <div class="d-flex align-items-center my-3">
                                                <div class="or-line"></div>
                                                <span class="mx-3 ">or</span>
                                                <div class="or-line"></div>
                                            </div>
                                            <div class="text-center">
                                                Already have an account?
                                                <a class="link link-color" href="{% url 'account:login' %}">Login</a>
                                            </div>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        {% for i in '123'|make_list %}
            console.log("{{ 'images/auth-page-photo-'|addstr:forloop.counter }}")
            preLoadImage("{% static 'images/auth-page-photo-'|addstr:forloop.counter|addstr:'.jpg' %}", 'carouselImage_{{ forloop.counter }}')
        {% endfor %}

        let labels = document.querySelectorAll('.form-label')

        labels.forEach(function (label) {
            label.onclick = function() {
                $(label).parent().find('input').focus()
            }
        })

    </script>


{% endblock content %}
