{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section>
        <div class="container-fluid p-0">
            <div class="row justify-content-center align-items-center m-0" style="height: 100vh; min-height: 700px">
                <div class="col-8 auth-container" style="min-height: 500px;">
                    <div class="row" style="height: 100%">
                        <div class="col-6 d-none d-lg-block p-0" style="height: 100%">
                            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: 100%">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner" style="height: 100%">
                                    <div class="carousel-item active">
                                        <img src="{% static 'images/auth-page-photo-1.jpg' %}" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'images/auth-page-photo-2.jpg' %}" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'images/auth-page-photo-3.jpg' %}" class="d-block w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 p-3 bg-light">
                            <div class="row align-items-center px-5" style="height: 100%">
                                <div>
                                    <h1 class="header-font text-center">Argon</h1>

                                    <div class="">
                                        {% if page == "login" %}
                                            <form action="{% url 'login' %}" method="POST" id="login-form">
                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="mb-2">
                                                        <label for="" class="form-label">{{ field.label }}</label>
                                                        {{ field }}
                                                    </div>
                                                {% endfor %}

                                            </form>

                                            {% for err in form.non_field_errors %}
                                                <div class="text-danger">
                                                    <span>{{ err }}</span>
                                                </div>
                                            {% endfor %}

                                            <div class="mb-2 d-flex justify-content-end me-1">
                                                <small class="text-muted"><a class="link gray-color" href="#">Forgot password?</a></small>
                                            </div>

                                            <div class="d-grid gap-4">
                                                <button form="login-form" type="submit" class="btn btn-sm btn-primary d-block">Login</button>
                                            </div>
                                            <div class="d-flex align-items-center mt-3">
                                                <div class="or-line"></div>
                                                <span class="mx-3 ">or</span>
                                                <div class="or-line"></div>
                                            </div>
                                            <a href="#">Login through google</a>
                                            <div class="text-center">
                                                New to Argon?
                                                <a class="link link-color" href="{% url 'register' %}">Register</a>
                                            </div>

                                        {% elif page == "register" %}

                                            <form action="{% url 'register' %}" method="POST" id="register-form">
                                                {% csrf_token %}

                                                {% for field in form %}
                                                    <div class="mb-2">
                                                        <label for="" class="form-label">{{ field.label }}</label>
                                                        {{ field }}
                                                    </div>
                                                {% endfor %}

                                            </form>

                                            <div class="mb-2">
                                                {% for err in form.non_field_errors %}
                                                    <div class="text-danger">
                                                        <span>{{ err }}</span>
                                                    </div>
                                                {% endfor %}
                                                {% for key, err_list in form.errors.items %}
                                                    <div class="text-danger">
                                                        <small>- {{ err_list.0 }}</small>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div class="d-grid gap-4">
                                                <button form="register-form" type="submit" class="btn btn-sm btn-primary d-block">Register</button>
                                            </div>
                                            <div class="d-flex align-items-center mt-3">
                                                <div class="or-line"></div>
                                                <span class="mx-3 ">or</span>
                                                <div class="or-line"></div>
                                            </div>
                                            <a href="#">Register through google</a>
                                            <div class="text-center">
                                                Already have an account?
                                                <a class="link link-color" href="{% url 'login' %}">Login</a>
                                            </div>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
