{% load static %}

<script>
    let userUrl = "{% url 'account:account' username=123456789 %}"


    async function postComment(e) {
        let post_id = e.target.dataset.post_id
        let description = $("#post-comment-description-field").val();
        if (!description) { return }

        this.removeEventListener(e.type, postComment)
        await fetch(postCommentUrl.replace(123456789, post_id), {
          method: 'POST',
          headers: {
            'X-CSRFToken': "{{ csrf_token }}",
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({'description': description})
        })
        .then(response => response.json())
        .then(data => {
          if (data.response_result === "success") {
                let div = document.createElement('div')
                div.classList.add(`d-flex`,`p-3`)
                let user_href = userUrl.replace(123456789, "{{ request.user.username }}")

                div.innerHTML += `
                   <div class="col-1">
                       <a href="${user_href}">
                           <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" alt="" id="${data.comment_id}_comment_profile_image">
                       </a>
                   </div>
                   <div class="col-9 ms-3">
                        <a class="fw-bold link text-dark">{{ request.user.username }}</a>
                       <div class="text-muted fs-14px" style="word-wrap: break-word">${description}</div>
                       <div class="d-flex">
                           <span class="fs-14px mt-2 text-muted">now</span>
                       </div>
                   </div>
                   <div class="col-2 text-center">
                       <span class="text-muted" id="${comment.id}_comment_likes_count">0</span>
                       <i class="fa-light text-danger fa-heart" id="${comment.id}_comment_like_button" data-comment_id="${comment.id}></i>
                   </div>
                `
              postCommentsContainer.insertBefore(div, postCommentsContainer.childNodes[1])
              preLoadImage("{{ request.user.image.url }}",`${data.comment_id}_comment_profile_image`)
              $("#post-comment-description-field").val("");
          }
         })
        this.addEventListener(e.type, postComment)
    }


    async function postCommentLike(e) {
        let action = e.target.dataset.action
        let comment_id = e.target.dataset.comment_id
        if (!['like', 'dislike'].includes(action)) { return }

        this.removeEventListener(e.type, postCommentLike)
        await fetch(postCommentLikeUrl.replace(123456789, `${comment_id}`), {
          method: 'POST',
          headers: {
            'X-CSRFToken': "{{ csrf_token }}",
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({'action': e.target.dataset.action})
        })
        .then(response => response.json())
        .then(data => {
          if (data.response_result === "success") {
              e.target.classList.remove(data.is_liked ? 'fa-light': 'fa-solid')
              e.target.classList.add(data.is_liked ? 'fa-solid': 'fa-light')
              e.target.dataset.action = data.is_liked ? 'dislike': 'like'

              let likesCountBtn = document.getElementById(`${comment_id}_comment_likes_count`)
              likesCountBtn.innerText = String(`${data.likes_count}`)
          }
         })
        this.addEventListener(e.type, postCommentLike)
    }
</script>