{% load static %}

<script>
    let ws_scheme = window.location.protocol === "http:" ? "ws:" : "wss:"
    let userUrl = "{% url 'account:account' username=123456789 %}"
    let currentUserUrl = userUrl.replace(123456789, "{{ request.user.username }}")
    let simplePostHeader = {
      'X-CSRFToken': "{{ csrf_token }}",
      'Content-Type': 'application/json',
    }

    function updateLikesCount(element, count) { element.innerText = count.toLocaleString() }
    function updateLikesWord(element, likes_count) { element.innerText = likes_count === 1 ? "like": "likes" }
    function updateLikesButton(element, is_liked) {
        element.classList.remove(is_liked ? 'fa-light': 'fa-solid')
        element.classList.add(is_liked ? 'fa-solid': 'fa-light')
        element.dataset.action = is_liked ? 'dislike': 'like';
    }

    async function postLike(e) {
        let action = e.target.dataset.action
        if (!['like', 'dislike'].includes(action)) { return }
        let url = "{% url 'post:post-like' post_id=123456789 %}".replace(123456789, e.target.dataset.post_id)

        this.removeEventListener(e.type, postLike)
        await fetch(url, {
          method: 'POST',
          headers: simplePostHeader,
          body: JSON.stringify({'action': e.target.dataset.action})
        })
        .then(response => response.json())
        .then(data => {
          if (data.response_result === "success") {
              updateLikesButton(e.target, data.is_liked)
              updateLikesCount(document.getElementById(`${e.target.dataset.post_id}_likes_count`), `${data.likes_count}`)
              updateLikesWord(document.getElementById(`${e.target.dataset.post_id}_like_word`), `${data.likes_count}`);
          }
         })
        this.addEventListener(e.type, postLike)
    }


    async function postComment(e) {
        let post_id = e.target.dataset.post_id
        let descriptionField = document.getElementById(`${post_id}-post-comment-description-field`)
        let postCommentsContainer = document.getElementById(`${post_id}-post-comments-container`)
        if (!descriptionField.value.trim()) { return }
        let url = "{% url 'post:post-comment' post_id=123456789 %}".replace(123456789, post_id)

        this.removeEventListener(e.type, postComment)
        await fetch(url, {
          method: 'POST',
          headers: simplePostHeader,
          body: JSON.stringify({'description': descriptionField.value})
        })
        .then(response => response.json())
        .then(data => {
          if (data.response_result === "success") {
              let commentDiv = commentElement(data.comment_id, "{{ request.user.username }}", descriptionField.value, "now", 0, false)
              postCommentsContainer.insertBefore(commentDiv, postCommentsContainer.firstElementChild)

              commentsButtonEventListeners(data.comment_id, "{{ request.user.username }}")
              preLoadImage("{{ request.user.image.url }}",`${data.comment_id}_comment_profile_image`)
              descriptionField.value = ""
              $(`#${post_id}-post-comments-container`).animate({ scrollTop: 0 }, "slow");
          }
         })
        this.addEventListener(e.type, postComment)
    }


    async function postCommentLike(e) {
        let action = e.target.dataset.action
        let comment_id = e.target.dataset.comment_id
        if (!['like', 'dislike'].includes(action)) { return }
        let url = "{% url 'post:post-comment-like' comment_id=123456789 %}".replace(123456789, comment_id)

        this.removeEventListener(e.type, postCommentLike)
        await fetch(url, {
          method: 'POST',
          headers: simplePostHeader,
          body: JSON.stringify({'action': e.target.dataset.action})
        })
        .then(response => response.json())
        .then(data => {
          if (data.response_result === "success") {
              updateLikesButton(e.target, data.is_liked)
              updateLikesCount(document.getElementById(`${comment_id}_comment_likes_count`), `${data.likes_count}`)
          }
         })
        this.addEventListener(e.type, postCommentLike)
    }


    async function postCommentRemove(e) {
        let comment_id = e.target.dataset.comment_id
        let url = "{% url 'post:post-comment-remove' comment_id=123456789 %}".replace(123456789, comment_id)

        this.removeEventListener(e.type, postCommentRemove)
        await fetch(url, {
          method: 'POST',
          headers: simplePostHeader
        })
        .then(response => response.json())
        .then(data => {
            if (data.response_result === "success") { document.getElementById(`${comment_id}_comment`).remove() }
            else { this.addEventListener(e.type, postCommentRemove) }
        })
    }



    function commentElement(comment_id, userUsername, description, timestamp, likes_count, is_liked_by_user) {

        let div = document.createElement('div')
        div.id = `${comment_id}_comment`
        div.classList.add(`d-flex`,`p-3`)
        let userCommentHref = "{% url 'account:account' username=123456789 %}".replace(123456789, userUsername)

        div.innerHTML += `
               <div class="col-1">
                   <a href="${userCommentHref}">
                       <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" alt="" id="${comment_id}_comment_profile_image">
                   </a>
               </div>
               <div class="col-9 ms-3">
                   <a class="fw-bold link text-dark">${userUsername}</a>
                   <div class="text-muted fs-14px comment-box" style="word-wrap: break-word">${validateText(description)}</div>
                   <div class="d-flex justify-content-between">
                       <span class="fs-14px mt-2 text-muted">${timestamp}</span>
                   </div>
               </div>
               <div class="col-2">
                   <div class="text-center">
                       <span class="text-muted" id="${comment_id}_comment_likes_count">${likes_count}</span>
                       <i class="${is_liked_by_user ? "fa-solid" : "fa-light"} text-danger fa-heart" id="${comment_id}_comment_like_button" data-comment_id="${comment_id}" data-action="${is_liked_by_user ? "dislike": "like"}"></i>
                   </div>
                   ${userUsername === "{{ request.user.username }}" ?
                        `<div class="mt-2 text-muted text-center"><i class="fa-light fa-xmark" id="${comment_id}_remove_btn" data-comment_id="${comment_id}" style="display: none"></i></div>` : ""
                   }
               </div>
        `
        return div
    }

    function commentsButtonEventListeners(comment_id, userUsername) {
        let commentElem = document.getElementById(`${comment_id}_comment`)
        let commentRemoveBtn = document.getElementById(`${comment_id}_remove_btn`)
        document.getElementById(`${comment_id}_comment_like_button`).addEventListener('click', postCommentLike);

        if (userUsername === "{{ request.user.username }}") {
            commentElem.addEventListener('mouseover', function(e) { commentRemoveBtn.style.display = "block" });
            commentElem.addEventListener('mouseout', function(e) { commentRemoveBtn.style.display = "none" });
            commentRemoveBtn.addEventListener('click', postCommentRemove);
        }
    }

    function setupDescriptionField(field) {
        field.addEventListener('keypress', function(e) {
            if (e.key === 'Enter' && !e.shiftKey) {e.preventDefault()}
        })
        field.addEventListener('keyup', function(e) {
            if (e.key === 'Enter' && !e.shiftKey && field.value.trim() !== "") {
                document.getElementById(`${e.target.dataset.post_id}-post-comment-button`).click()
            }
        })
    }

    function validateText(string) {
        let md = window.markdownit().set({
            highlight: function (str, lang) {
                if (lang && hljs.getLanguage(lang)) {
                    try {
                    return '<pre class="hljs"><code>' +
                       hljs.highlight(str, { language: lang, ignoreIllegals: true }).value +
                       '</code></pre>';
                } catch (__) {}
                } else {
                    return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
                }
            }
        });
        return md.render(string);
    }

</script>