:root {
    --main-bg-color: #f2f2f2;
    --light-gray-color: #f1f1f1;
    --gray-color: #bebebe;
    --semi-gray-color: #818181;
    --dark-gray-color: #3f3f3f;
    --link-color: #19a5e8;
    --hover-link-color: #0f6a94;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color)!important;
}

.gray-color {
    color: var(--gray-color);
}

.black-color {
    color: black;
}

.link-color {
    color: var(--link-color);
}

.link {
    text-decoration: none;
    transition: all .5s;
}

.link:hover {
    color: var(--hover-link-color)!important;
}

.header-font {
    font-family: 'Dancing Script', cursive;
}

.fs-14px {
    font-size: 14px!important;
}

/* Authentication page */

.box-shadow {
    box-shadow: 0 0 5px #bebebe;
}

.auth-container {
    /*border: 1px solid #808080;*/
    border-radius: 5px;
    min-height: 200px;
    height: 70vh;
    box-shadow: 0 0 5px #bebebe;
}

.or-line {
    background-color: var(--gray-color);
    flex-grow: 1;
    height: 1px;
}

/* End of authentication page */

/* navbar */

.fa {
    transition: all .5s;
    color: var(--dark-gray-color);
}

.fa:hover {
    color: var(--semi-gray-color);
}

/* end of navbar */

/* edit account */

.sidebar-container {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid var(--gray-color);
}

.dashboard-container {
    border-radius: 0 5px 5px 0;
}

.dashboard-sidebar > .active {
    border-left: 3px solid var(--semi-gray-color);
}

.dashboard-sidebar > a {
    transition: 0s;
}

.dashboard-sidebar > a:hover{
    background-color: var(--main-bg-color);
    border-left: 3px solid var(--gray-color);
}

.edit-image-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#account-image-container-helper {
    width: 30%;
}

@media (max-width: 992px) {
    #account-image-container-helper {
        width: 40%;
    }
}

@media (max-width: 768px) {
    #account-image-container-helper {
        width: 50%;
    }
}

@media (max-width: 576px) {
    #account-image-container-helper {
        width: 60%;
    }
}

/* end of edit account */

.disable-focus:focus {
    box-shadow: none!important;
}

.scrollable-container {
    display: flex;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
    font-size: 0.9em;
    flex-direction: column;
}