{% load static %}

<script>

    let ws_notifications_path = ws_scheme + "//" + window.location.hostname + ":{% if not debug_mode %}8001{% endif %}8000" + `/notifications/`
    let notificationsSocket = new WebSocket(ws_notifications_path)
    let notificationsPageNumber = 1;
    let notificationsContainer = document.getElementById("notifications-container")
    let deletedNotificationsIdList = []
    let notToQueryMore = []

    let notificationsObserveContainer = document.getElementById("notifications-observe-container")
    let notificationsObserver = createNotificationsIntersectionObserver(notificationsCallback)
    let notificationReadObserverDict = {}

    setupNotificationsWebsocket()

    function setupNotificationsWebsocket() {

        notificationsSocket.onopen = function(e) {
            console.log('notifications websocket opened')
            notificationsObserver.observe(notificationsObserveContainer)
            getNotificationsCount()
            getMessagesNotificationsCount()
        }

        notificationsSocket.onmessage = function(e) {
            let data = JSON.parse(e.data)
            let msg_type = data.msg_type

            if (msg_type === "load_notifications") {
                setNotificationsPageNumber(data.new_page_number)
                handleNotifications(JSON.parse(data.notifications), false)
            } else if (msg_type === "pagination_exhausted") {
                setNotificationsPageNumber(-1)
                paginationExhausted()
            } else if (msg_type === "new_notification") {
                handleNotifications(JSON.parse(data.notifications), true)
                handleDeletedNotificationsIdList(data.notifications_to_delete_id_list)
                getNotificationsCount()
            } else if (msg_type === "delete_notification") {
                handleDeletedNotificationsIdList(data.notifications_to_delete_id_list)
                getNotificationsCount()
            } else if (msg_type === "notifications_count") {
                updateNotificationsCount(data.count)
            } else if (msg_type === "read_notification") {
                getNotificationsCount()
            }

            {% if page == "chat" %}
                if (msg_type === "new_chat_message_notification") {
                    let notification = JSON.parse(data.notifications)[0]
                    handleNewMessageNotification(notification)

                    if (String(notification.room.id) !== "{{ room_id }}") {
                        boldChatRoomElement(notification.sender.username)
                        getMessagesNotificationsCount()
                    }
                } else if (msg_type === "edit_chat_message_notification") {
                    let notification = JSON.parse(data.notifications)[0]
                    changeChatRoomUserAndText(notification.message.other_user.username, notification.message.username , notification.message.body)

                    if (notification.last_message.username !== "{{ request.user.username }}") {
                        if (notification.last_message.is_read) { unboldChatRoomElement(notification.last_message.username) }
                        else { boldChatRoomElement(notification.last_message.username) }
                    }

                } else if (msg_type === "room_empty") {
                    removeChatRoomElement(data.other_username)
                } else if (msg_type === "messages_notifications_count") {
                    updateMessagesNotificationsCount(data.count)
                }
            {% endif %}

            {% if page == "account" %}
                if (msg_type === "accept_fr") { changeFrActionButton('unfollow') }
                else if (msg_type === "decline_fr") { changeFrActionButton('follow') }
            {% endif %}

        }

        notificationsSocket.onclose = (e) => {console.log("Websocket disconnected")}
        notificationsSocket.onerror = (e) => {console.log("Unknown error happened")}
    }

    function createNotificationsIntersectionObserver(callback) {
        return new IntersectionObserver(callback, {
            root: null,        // intersect with viewport
            rootMargin: '0px', // no margin when computing intersections
            threshold:  0,   // execute callback when every pixel is visible
        })
    }

    function notificationsCallback(entries) {
        for (const entry of entries) {
          if (entry.isIntersecting) { getNextNotificationsPage(notificationsPageNumber) }
        }
    }

    function notificationsReadCallback(entries) {
        for (const entry of entries) {
            if (entry.isIntersecting) {
                let notification_id = entry.target.notification_id
                setNotificationRead(notification_id)

                let notificationContainer = document.getElementById(`${notification_id}_notification`)
                if (notificationReadObserverDict[`${notification_id}`] && notificationContainer) {
                    notificationReadObserverDict[`${notification_id}`].unobserve(notificationContainer)
                }
            }
        }
    }

    function setNotificationsPageNumber(page_number) { notificationsPageNumber = page_number }

    function paginationExhausted() {
        notificationsObserver.unobserve(notificationsObserveContainer)
        notificationsObserveContainer.remove()
    }

    function handleDeletedNotificationsIdList(idList) {
        deletedNotificationsIdList.push(...idList)
        idList.forEach(function(id) {
            document.getElementById(`${id}_notification`)?.remove()
        })
    }

    function handleNotifications(notifications, isNew) {
        notifications.forEach(function (notification) {
            if (deletedNotificationsIdList.includes(notification.id) || notToQueryMore.includes(notification.id)) { return }

            let notificationElement = createNotificationElement(notification)
            isNew ? appendNewNotification(notificationElement): appendOldNotification(notificationElement)
            isNew ? notToQueryMore.push(notification.id) : null

            if (!notification.is_read) {
                let notificationReadObserver = createNotificationsIntersectionObserver(notificationsReadCallback)
                notificationReadObserver.observe(notificationElement)
                notificationReadObserverDict[`${notification.id}`] = notificationReadObserver
            }

            preLoadImage(`${notification.sender.image}`, `${notification.id}_sender_image`)
            $(`#${notification.id}_post_image`).length ?  preLoadImage(`${notification.post.image}`, `${notification.id}_post_image`) : null;
        })
    }

    function appendOldNotification(notificationElement) {
        notificationsContainer.insertBefore(notificationElement, notificationsObserveContainer)
    }

    function appendNewNotification(notificationElement) {
        notificationsContainer.insertBefore(notificationElement, notificationsContainer.firstChild)
    }

    function createNotificationElement(notification) {
        let element = document.createElement('div')
        element.id = `${notification.id}_notification`
        element.notification_id = `${notification.id}`
        element.classList.add('d-flex', 'p-3', 'align-items-center')
        element.href = notification.redirect_url
        element.innerHTML = `
            <div class="col-sm-1 col-2 me-2">
                ${userImageLink(notification)}
            </div>
            <div class="col-sm-11 col-10">
                ${createNotificationBody(notification)}
            </div>
        `
        return element;
    }

    function createNotificationBody(notification) {
        switch(notification.action_name) {
            case "follow": return createFollowNotificationBody(notification);
            case "send_fr": return createSendFRNotificationBody(notification);
            case "accept_fr": return createAcceptDeclinedFRNotificationBody(notification);
            case "decline_fr": return createAcceptDeclinedFRNotificationBody(notification);
            case "post_like": return createPostLikeNotificationBody(notification);
            case "post_comment": return createPostCommentNotificationBody(notification);
        }
    }

    function userTextLink(notification) {
        return `
            <a href="${notification.sender.url}" class="text-dark text-decoration-none">${notification.sender.username}</a>
        `
    }

    function userImageLink(notification) {
        return `
            <a href="${notification.sender.url}" class="text-dark text-decoration-none">
                <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" id="${notification.id}_sender_image">
            </a>
        `
    }

    function createFollowNotificationBody(notification) {
        return `
            <div>
                <span class="fw-bold">${userTextLink(notification)}</span> ${notification.message}.
                <div class="fs-12px text-muted">${notification.natural_timestamp}</div>
            </div>
        `
    }

    function createAcceptDeclinedFRNotificationBody(notification) {
        return `
            <div>
                <span class="fw-bold">${userTextLink(notification)}</span> ${notification.message}.
                <div class="fs-12px text-muted">${notification.natural_timestamp}</div>
            </div>
        `
    }

    function createSendFRNotificationBody(notification) {
        return `
            <div>
                <span class="fw-bold">${userTextLink(notification)}</span> ${notification.message}.
                <div class="d-flex my-1">
                    <button type="button" class="btn btn-primary btn-sm me-2 accept" onclick="followingRequestAction('accept-request', '${notification.sender.username}', '${notification.id}')">Accept</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm decline" onclick="followingRequestAction('decline-request', '${notification.sender.username}', '${notification.id}')">Decline</button>
                </div>
                <div class="fs-12px text-muted">${notification.natural_timestamp}</div>
            </div>
        `
    }

    function createPostLikeNotificationBody(notification) {
        return `
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span class="fw-bold">${userTextLink(notification)}</span> ${notification.message}.
                    <div class="fs-12px text-muted">${notification.natural_timestamp}</div>
                </div>
                <a href="${notification.redirect_url}" style="width: 50px; height: 50px">
                    <img class="img-fluid w-100 h-100 border" src="{% static 'images/default.png' %}" id="${notification.id}_post_image" style="object-fit: cover">
                </a>
            </div>
        `
    }

    function createPostCommentNotificationBody(notification) {
        return `
            <div class="d-flex justify-content-between align-items-center">
                <div class="col-9">
                    <span class="fw-bold">${userTextLink(notification)}</span> ${notification.message}.
                    <div class="fs-12px text-muted mb-1">"${notification.comment.body}"</div>
                    <div class="fs-12px text-muted">${notification.natural_timestamp}</div>
                </div>
                <a class="col-2" href="${notification.redirect_url}" style="width: 50px; height: 50px">
                    <img class="img-fluid w-100 h-100 border" src="{% static 'images/default.png' %}" id="${notification.id}_post_image" style="object-fit: cover">
                </a>
            </div>
        `
    }

    function followingRequestAction(action, username, notification_id) {

        if (!["accept-request", "decline-request"].includes(action)) { return }
        if(!username || !notification_id) { return }
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                "action": action,
                "csrfmiddlewaretoken": "{{ csrf_token }}",
            },
            url: "{% url 'follow:follow-action' username=123456789 %}".replace(123456789, username),
            timeout: 5 * 1000,
            success: function(data) {
                if (data.response_result === "success") { document.getElementById(`${notification_id}_notification`)?.remove() }
            }
        })
    }

    function updateNotificationsCount(count) {
        let notificationsCountBadge = $(`#notifications-count-badge`)
        if (!notificationsCountBadge.length) { return null }
        notificationsCountBadge.html(count)
        notificationsCountBadge.animate({opacity: count ? 1 : 0}, 700)
    }


</script>



<script> // sending text frames to the consumer

    function getNextNotificationsPage(pageNumber) {
        notificationsSocket.send(JSON.stringify({
            'command': 'load_notifications',
            'page_number': pageNumber,
        }))
    }

    function getNotificationsCount() {
        notificationsSocket.send(JSON.stringify({
            'command': 'notifications_count',
        }))
    }

    function setNotificationRead(notification_id) {
        notificationsSocket.send(JSON.stringify({
            'command': 'read_notification',
            'notification_id': notification_id,
        }))
    }

    function getMessagesNotificationsCount() {
        notificationsSocket.send(JSON.stringify({
            'command': 'messages_notifications_count',
        }))
    }

</script>